<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179686022488-vko1i1srsirucec2s3rel0q59eemuspk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179686022488-vko1i1srsirucec2s3rel0q59eemuspk</string>
	<key>API_KEY</key>
	<string>AIzaSyC78Oyks-awV3CPa8-bZcqnzbPGuGmuaek</string>
	<key>GCM_SENDER_ID</key>
	<string>179686022488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linamirza.CatFoster</string>
	<key>PROJECT_ID</key>
	<string>catfoster-d575b</string>
	<key>STORAGE_BUCKET</key>
	<string>catfoster-d575b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179686022488:ios:85f06cbf7ff3a25cafd92d</string>
	<key>DATABASE_URL</key>
	<string>https://catfoster-d575b.firebaseio.com</string>
</dict>
</plist>